<%- include('./header.ejs'); %>

<%- include('./HomeHeader.ejs'); %>

    <div class="ox-hidden mt-4 container" style="overflow-x: hidden;" >
        <div class="row ox-hidden">
            <% products.forEach(product=> { %>
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>"
                            style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= product.name %>
                            </h5>
                            <p class="card-text">
                                <%= product.description %>
                            </p>
                            <p class="card-text"><strong>Fiyat: </strong>
                                <%= product.price %> TL
                            </p>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    </div>